.main {
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
    /* border: 1px solid black; */
}
.image {
    margin-top: 20px;
}
.content {
    margin-left: 10px;
    /* border: 1px solid black; */
    width: 440px;
}
.description ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      
      
}
.heading {
    margin-top: 20px;
    margin-left: 20px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    
}
.price {
    /* border: 1px solid black; */
}
.rate {
    background-color: green;
    color: white;
    
}
.pricetag {
    font-size: 30px;
}
.list2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.delivery {
    font-size: 12px;
    
}
.save {
    font-size: 12px;
    color: green;
    
}
.offer {
    color: green;
}
.discount {
    font-weight: bold;
}
ul li::marker {
    color: lightgrey;
}
.heading h4 {
    color: grey;
}
strike {
    color: grey;
}